@media (min-width: 540px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .menu {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: -200%;
    left: 0;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    overflow: auto;
  }
}

.menu_active {
  top: 0;
}

.menu_list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .menu_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu_list li a {
    font-size: 25px;
    display: block;
    border: none;
    margin: 45px;
  }
}

.menu_list_active {
  top: 0;
}

.menu_item {
  margin: 0px 42px 0px 0px;
}

@media (max-width: 1200px) {
  .menu_item {
    margin: 0px 22px 0px 0px;
  }
}

.menu_item a {
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.menu_item a:hover {
  color: #38a3f1;
}

.menu_item a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #ef2779;
  position: absolute;
  bottom: -2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .menu_item a:hover::after {
    width: 100%;
  }
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: none;
  display: inline-block;
  height: 54px;
  padding: 19px 39px;
  border-radius: 30px;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn--red {
  background-color: #ef2779;
  border: solid 1px #ef2779;
}

.btn--red:hover {
  color: #ef2779;
}

.btn--blue {
  background-color: #38a3f1;
  border: solid 1px #38a3f1;
}

.btn--blue:hover {
  color: #38a3f1;
  border: solid 1px #38a3f1;
}

.btn:hover {
  background-color: #fff;
}

.subscribe__input {
  width: 253px;
  height: 54px;
  border-radius: 30px;
  padding: 19px 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  outline: none;
  border: none;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 18px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .hamburger span:nth-child(1) {
    width: 100%;
    margin: 0 0 4px auto;
    background-color: #ef2779;
  }
  .hamburger span:nth-child(2) {
    width: 75%;
    margin: 0 0 4px auto;
    background-color: #470069;
  }
  .hamburger span:nth-child(3) {
    width: 25%;
    margin: 0 0 4px auto;
    background-color: #38a3f1;
  }
  .hamburger_active span {
    border: none;
    margin-bottom: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
    background-color: #38a3f1;
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    width: 100%;
    -webkit-transform: translateY(-4px) rotate(45deg);
            transform: translateY(-4px) rotate(45deg);
    background-color: #ef2779;
  }
}

@media (max-width: 768px) {
  .xs-hide {
    display: none;
  }
}

h1 {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 0px 0px 27px 0px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 46px;
    font-weight: 400;
    line-height: 57px;
  }
}

@media (max-width: 992px) {
  h1 {
    margin: 0px 0px 27px 0px;
  }
}

.suptitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
}

.suptitle--white {
  color: #ffffff;
}

.suptitle--black {
  color: #374754;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: inherit;
}

.subtitle--white {
  color: #ffffff;
}

.subtitle--black {
  color: #374754;
}

.second-title {
  font-weight: normal;
  font-size: 46px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.2px;
}

.second-title--white {
  color: #ffffff;
}

.second-title--black {
  color: #374754;
}

.promo {
  width: 100%;
  min-height: 667px;
  height: 100vh;
  background-image: url(../img/main-bg.png), -webkit-gradient(linear, left bottom, right top, from(#ef2779), to(#7834be));
  background-image: url(../img/main-bg.png), linear-gradient(to right top, #ef2779 0%, #7834be);
  background-position: bottom left;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 50px;
}

@media (max-width: 1200px) {
  .promo {
    padding: 10px 0px 0px 0px;
  }
}

.promo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px 0px 10px;
}

.promo__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 186px;
          flex: 0 0 186px;
  height: 58px;
}

.promo__logo img {
  width: 100%;
}

@media (max-width: 992px) {
  .promo__logo img {
    max-width: 960px;
    display: block;
    margin: 0 auto;
  }
}

.promo__navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 992px) {
  .promo_subscribe {
    display: none;
  }
}

.promo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .promo__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.promo__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  height: 80%;
  text-align: center;
  background-image: url(../img/screen2.webp);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 992px) {
  .promo__img {
    background-size: contain;
    background-position: center;
    width: 80%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 45%;
            flex: 1 0 45%;
  }
}

@media (max-width: 768px) {
  .promo__img {
    width: 90%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
  }
}

@media (max-width: 576px) {
  .promo__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
}

.promo__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .promo__img img {
    height: 100%;
  }
}

.promo__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .promo__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

.promo__info-wrapper {
  width: 310px;
  margin: 0px 0px 0px 86px;
}

@media (max-width: 992px) {
  .promo__info-wrapper {
    margin: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.promo__subtitle {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 992px) {
  .promo__subtitle {
    margin: 0px 0px 0px 0px;
  }
}

.promo__btn {
  width: 236px;
}

@media (max-width: 992px) {
  .promo__btn {
    display: none;
  }
}

.promo__btn-xs {
  width: 236px;
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .promo__btn-xs {
    display: inline-block;
    margin: 25px 0px 25px 0px;
  }
}

@media (max-width: 1200px) {
  .promo__header-btn {
    height: 34px;
    padding: 9px 10px;
  }
}

.promo__input {
  margin: 0px 13px 0px 0px;
}

@media (max-width: 1200px) {
  .promo__input {
    width: 153px;
    height: 34px;
    padding: 9px 10px;
  }
}

.features {
  padding: 50px 0;
}

.features__title {
  text-align: center;
  margin: 0px 0px 100px 0px;
}

@media (max-width: 768px) {
  .features__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .features__title h2 {
    margin: 15px 0;
  }
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__items *:last-child {
  margin: 0;
}

@media (max-width: 992px) {
  .features__items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 255px;
          flex: 0 1 255px;
  margin: 0px 52px 0px 0px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 992px) {
  .features__item {
    margin: 0px 10px 0px 0px;
  }
}

@media (max-width: 768px) {
  .features__item {
    margin: 0px 0px 80px 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 255px;
  }
}

.features__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.features__item-img {
  background-color: #ef2779;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 43px;
          flex: 0 0 43px;
  height: 43px;
  margin: 10px 10px 0px 0px;
}

.features__item-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.features__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
  padding: 33px 0px 0px 0px;
}

.prototyping {
  padding: 50px 0;
  text-align: center;
}

.prototyping__title {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .prototyping__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .prototyping__title h2 {
    margin: 15px 0;
  }
}

.prototyping__btn {
  margin: 0px 0px 100px 0px;
}

@media (max-width: 768px) {
  .prototyping__btn {
    margin: 0px 0px 50px 0px;
  }
}

.prototyping__mcbook {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .prototyping__mcbook {
    padding: 0 10px;
  }
}

.prototyping__mcbook img {
  width: 100%;
}

.newsletter {
  padding: 80px 0;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ef2779), to(#7834be));
  background-image: linear-gradient(to right top, #ef2779, #7834be);
  text-align: center;
}

.newsletter__title {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .newsletter__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .newsletter__title h2 {
    margin: 15px 0;
  }
}

@media (max-width: 576px) {
  .newsletter__seond-title {
    display: none;
  }
}

.newsletter__seond-title-mob {
  display: none;
}

@media (max-width: 576px) {
  .newsletter__seond-title-mob {
    display: block;
  }
}

.newsletter__text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin: 0px 0px 34px 0px;
}

.newsletter__text span {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  display: block;
  margin: 0px 0px 12px 0px;
}

.newsletter__input {
  width: 100%;
  margin: 0px 0px 12px 0px;
}

.newsletter__subscribe {
  width: 353px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .newsletter__subscribe {
    width: 300px;
  }
}

.newsletter__header-btn {
  width: 100%;
}

.partners {
  padding: 80px 0;
  text-align: center;
}

.partners__title {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .partners__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .partners__title h2 {
    margin: 15px 0;
  }
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px auto 72px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 818px;
}

@media (max-width: 992px) {
  .partners__row {
    width: 700px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 768px) {
  .partners__row {
    width: 250px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.partners__item {
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 248px;
          flex: 0 0 248px;
  margin: 0px 0 52px 0px;
  padding: 10px;
  border-radius: 25px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 992px) {
  .partners__item:hover {
    background-color: rgba(0, 0, 0, 0.015);
    color: #fff;
    -webkit-transform: scale(1.03) translateY(-5px);
            transform: scale(1.03) translateY(-5px);
    -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.197);
            box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.197);
  }
  .partners__item:hover .partners__item-img {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

.partners__item-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
  margin: 10px 0px 0px 0px;
}

.partners__item-img {
  width: 122px;
  height: 122px;
  margin: 22px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.partners__item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.partners__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
}

.partners__btn {
  width: 236px;
}

.monero {
  padding: 20px 0;
  text-align: left;
}

@media (max-width: 768px) {
  .monero {
    text-align: center;
  }
}

.monero__title {
  margin: 0px 0px 45px 0px;
}

@media (max-width: 768px) {
  .monero__title {
    margin: 0px 0px 15px 0px;
  }
}

@media (max-width: 768px) {
  .monero__title h2 {
    margin: 15px 0;
  }
}

.monero__seond-title {
  text-align: left;
  margin: 20px 0px 10px 0px;
}

@media (max-width: 768px) {
  .monero__seond-title {
    text-align: center;
  }
}

.monero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .monero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.monero__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  line-height: 21px;
  padding: 0px 15px 0px 15px;
  margin: 0px 0px 35px 0px;
}

@media (max-width: 992px) {
  .monero__subtitle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}

.monero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
}

@media (max-width: 992px) {
  .monero__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

@media (max-width: 768px) {
  .monero__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.monero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin: 0px 0px 35px 0px;
}

@media (max-width: 992px) {
  .monero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    margin: 0px 0px 65px 0px;
  }
}

@media (max-width: 768px) {
  .monero__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
}

.monero__item-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.1px;
  margin: 0px 0px 10px 0px;
  color: #252b42;
}

.monero__item-text {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  letter-spacing: 0.2px;
  color: #374754;
}

.pricing {
  padding: 80px 0;
  text-align: center;
}

.pricing__title {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .pricing__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .pricing__title h2 {
    margin: 15px 0;
  }
}

.pricing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .pricing__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pricing__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 335px;
          flex: 0 0 335px;
  height: 310px;
  border: 1px solid #dedede;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  text-align: left;
  color: #374754;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .pricing__item:hover {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#ef2779), to(#7834be));
    background-image: linear-gradient(to right top, #ef2779, #7834be);
    color: #fff;
    -webkit-transform: scale(1.03) translateY(-5px);
            transform: scale(1.03) translateY(-5px);
    -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.197);
            box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.197);
    border: none;
  }
}

@media (max-width: 1200px) {
  .pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
    padding: 15px;
  }
}

@media (max-width: 992px) {
  .pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    width: 380px;
    padding: 15px;
    margin: 15px 0;
  }
}

@media (max-width: 768px) {
  .pricing__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
    width: 280px;
  }
}

.pricing__item-header {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: inherit;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.pricing__item-header span {
  display: block;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
}

.pricing__item-price {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 0px 25px 0px;
}

.pricing__item-price span {
  display: block;
  position: relative;
}

.pricing__item-price span::after {
  content: "$";
  font-size: 22px;
  line-height: 33px;
  display: block;
  position: absolute;
  right: -18px;
  top: 0;
}

.pricing__item-price span::before {
  content: "Per Month";
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  width: 61px;
  display: block;
  position: absolute;
  right: -66px;
  top: 30px;
}

.pricing__item-btn {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.contact {
  padding: 80px 0;
  text-align: center;
  background-color: #252b42;
}

.contact__title {
  margin: 0px 0px 70px 0px;
}

@media (max-width: 768px) {
  .contact__title {
    margin: 0px 0px 50px 0px;
  }
}

@media (max-width: 768px) {
  .contact__title h2 {
    margin: 15px 0;
  }
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 400px;
          flex: 0 0 400px;
  height: 430px;
  background-color: #fff;
  border-radius: 15px;
  margin: 0px 60px 0px 0px;
}

@media (max-width: 768px) {
  .contact__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    margin: 10px 20px;
  }
}

.contact__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: left;
}

@media (max-width: 768px) {
  .contacts {
    margin: 0px 0px 25px 0px;
  }
}

.contacts a {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: inherit;
  text-decoration: none;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 152px;
  padding: 10px 0;
  margin: 0px 0px 60px 0px;
}

@media (max-width: 768px) {
  .contacts__info {
    margin: 0px 0px 25px 0px;
  }
}

.contacts__adress {
  color: inherit;
  height: 26px;
  width: 264px;
  background-image: url(../ico/footer/map-point.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 0px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__phone {
  color: inherit;
  height: 26px;
  width: 264px;
  background-image: url(../ico/footer/phone.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 0px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail {
  color: inherit;
  height: 26px;
  width: 264px;
  background-image: url(../ico/footer/mail.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0px 0px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 190px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__twitter {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__facebook {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts__in {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33px;
          flex: 0 0 33px;
  height: 33px;
  -o-object-fit: contain;
     object-fit: contain;
}

.message {
  padding: 79px 41px 26px 41px;
}

@media (max-width: 768px) {
  .message {
    padding: 30px 30px 20px 30px;
  }
}

.message__name {
  width: 318px;
  height: 35px;
  border-radius: 30px;
  padding: 5px 39px;
  font-family: "roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  margin: 0px 0px 31px 0px;
}

@media (max-width: 768px) {
  .message__name {
    width: 100%;
  }
}

.message__email {
  width: 318px;
  height: 35px;
  border-radius: 30px;
  padding: 5px 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  margin: 0px 0px 31px 0px;
}

@media (max-width: 768px) {
  .message__email {
    width: 100%;
  }
}

.message__text {
  width: 318px;
  height: 126px;
  padding: 5px 39px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #18171d;
  outline: none;
  border: none;
  background-color: #f5f5f5;
  resize: none;
  margin: 0px 0px 31px 0px;
}

@media (max-width: 768px) {
  .message__text {
    width: 100%;
  }
}

.message__btn {
  padding: 0px 15px 0px 0px;
  height: 34px;
  width: 94px;
  padding: 0;
  display: block;
}

.footer {
  padding: 80px 0;
  color: #18171d;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media (max-width: 992px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__pages {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
}

.footer__pages ul {
  list-style: none;
  padding: 0;
}

.footer__pages ul a {
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #252b42;
  text-decoration: none;
  position: relative;
}

.footer__pages ul a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .footer__pages ul a:hover::after {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .footer__map {
    margin: 20px;
  }
}

.footer__map img {
  width: 100%;
}

.footer__info-wrapper {
  color: #18171d;
}

.inf {
  color: #dc2d61 !important;
}

.brdr {
  border-radius: 10px;
  border: red dashed 1px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #374754;
}
/*# sourceMappingURL=style.css.map */