$content-width: 1100;
$bp1: 1200px;
$bp2: 992px;
$bp3: 768px;
$bp4: 576px;

.container {
   


   @media (min-width: 540px) {
      width: 100%;
      margin: 0 auto;
      
   }

   @media (min-width: $bp4) {
      width: 540px;
      margin: 0 auto;
   }
   @media (min-width: $bp3) {
      width: 720px;
      margin: 0 auto;
   }
   @media (min-width: $bp2) {
      width: 960px;
      margin: 0 auto;
   }
   @media (min-width: $bp1) {
      width: $content-width+px;
      margin: 0 auto;
   }
}