

@import "media";
@import "main";

// colors ==============================================================================
$cl1: #EF2779;
$cl2: #7834BE;
$cl3: #38A3F1;
$cl-text: #252B42;
$cl-text2: #374754;
$cl-bg: #252B42;



* {
   box-sizing: border-box;
}
body {
   font-family: 'Roboto', sans-serif;
   color: $cl-text2;
}

